<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="/public/footerStyle.css">

<footer>
    <div class="footer">
        <img src="/public/assets/logo-alt.png" alt="Footer Logo" class="footer-logo">
        <div class="contact-info">
            <div class="contact-line">
                <i class="contact-icon bi bi-telephone-fill"></i>
                <span>028 9057 1100</span>
            </div>
            <div class="contact-line">
                <i class="contact-icon bi bi-envelope-fill"></i>
                <span>kainos@kainos.com</span>
            </div>
            <div class="contact-line">
                <i class="contact-icon bi bi-house-fill"></i>
                <span>4-6 Upper Cres, Belfast BT7 1NT</span>
            </div>
        </div>
    </div>
</footer>