<% if (typeof errormessage != 'undefined') { %>

    <div class="alert alert-danger" style="text-align: center;" role="alert">
        <%= errormessage %>
    </div>

<% } %>

<% if (typeof successmessage != 'undefined') { %>

    <div class="alert alert-success" style="text-align: center;" role="alert">
        <%= successmessage %>
    </div>

<% } %>
