<div class="alert alert-warning" style="text-align: center;" role="alert">
    This is a dark alert—check it out!

            <!-- {% if errormessage %}
            <div class="alert alert-danger" role="alert">
                {{ errormessage }}
            </div>
        {% endif %} -->
</div>