/* Custom styling for general/shared elements */
.main-content {
    margin-top: 80px;
    width: 85vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/public/fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url('/public/fonts/GOTHICB.TTF') format('truetype');
}

.no-header-image-spacing {
    margin-top: 110px !important;
}

.half-page-image {
    width: 100%;
}

#header-left-spacing {
    padding-left: 20px;
}

.main-content .has-header-image {
    margin-top: 50px !important;
    width: 85vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.centre {
    margin: auto;
    width: 70vw;
}

h1 {
    font-family: 'Century Gothic Bold', sans-serif;
    color: #262E4D;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-family: 'Century Gothic', sans-serif;
    color: #262E4D;
    font-size: 2.2em;
    margin-bottom: 30px;
}

p {
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 10px;
}

li {
    color: #262E4D;
    margin: 8px 0px;
}

li a {
    color: #262E4D;
}

li a:hover {
    color: #283583;
}

.featured-text-component {
    background-color: #283583;
    padding: 40px 50px 20px 50px;
    margin: 40px 0px 40px 0px;
    justify-content: center;
}

.featured-text-component h1 {
    color: white;
    font-size: 2em;
}

.featured-text-component h2 {
    color: white;
    font-size: 1.5em;
}

.featured-text-component p {
    color: white;
    font-size: 1em;
}

.featured-text-component button {
    color: #262E4D;
    background-color: white;
    padding: 10px 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.featured-text-component button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.header-image-banner {
    background: url('/public/assets/energy-lines.png') center/cover no-repeat;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 60px 0px 45px 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5); 
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
}

.text-overlay h1 {
    font-size: 4em;
    margin: 0;
    color: white;
}

.custom-button {
    margin-top: 10px;
    background-color: #42B54C;
    color: white;
}

.custom-button:hover {
    background-color: #3f9746;
    color: white;
}

/* Media query for screens smaller than 991px, which is when the navbar turns into a burger bar */
@media (max-width: 991px) {
    .text-overlay h1 {
        font-size: 3em;
    }

    .banner {
        margin: 20px 0px 20px 0px;
    }

    .text-overlay {
        width: 80%; 
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .half-page-image {
        margin-top: 30px;
        width: 210%;
    }
}