<%- include('../templates/components/notification-bar'); %>
<%- include('../templates/components/common-header'); %>

<body>

    <div class="main-container">
        <div class="main-content center">
            Home Page - You have been login.
        </div>
    </div>

</body>