<%- include('../templates/components/common-header'); %>
<body>

    <div class="main-container">
        <div class="main-content center">
            <%- include('../templates/components-page-specific/auth/login-form'); %>
        </div>
    </div>

</body>

<%- include('../templates/components/footer'); %>
