<%- include('../templates/components/common-header'); %>

<body>
    <div class="main-content centre">
        <%- include('../templates/components-page-specific/auth/login-form'); %>
    </div>
</body>

<%- include('../templates/components/common-footer'); %>
